*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  width: 90%;
  margin: 0 auto;

  background-color: #f0efeb;
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1820px) {
  .App {
    width: 80%;
    margin: 0 auto;
  }
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.chartLink {
  margin: 20px auto;
}
.chartBar {
  font-size: 50px;
  color: black;
}
.chartLink:hover {
  transform: scale(1.06);
}
.searchBox {
  width: 50%;
  padding: 15px;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 50px;
  border: 2px solid #fcd5ce;
  outline: none;
}

.sectionGraph {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  border-top: 2px solid white;
}

.buttonWrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.buttonWrapper > * {
  text-align: center;
}

.button {
  padding: 10px 30px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.button:focus {
  outline: none;
}

.sectionGraph > h3 {
  text-align: center;
}
